---
permalink: feed.xml
eleventyExcludeFromCollections: true
templateEngineOverride: liquid
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ libdocConfig.lang }}">
    <title>{{ libdocConfig.siteTitle }}</title>
    <subtitle>{{ libdocConfig.siteDescription }}</subtitle>
    <link href="{{ permalink }}" rel="self" />
    <link href="{{ libdocConfig.productionUrl }}{{ page.url }}" />
    <updated>{{ "now" | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>
    <id>{{ libdocConfig.productionUrl }}{{ page.url }}</id>
    <author>
        <name>
            {%- if libdocConfig.blogAuthor == false or libdocConfig.blogAuthor == nil -%}
                11ty LibDoc
            {%- else -%}
                {{ libdocConfig.blogAuthor }}
            {%- endif -%}
        </name>
    </author>
    {%- for post in collections.post reversed %}
        {%- assign absolutePostUrl = libdocConfig.productionUrl | append: post.url %}
        <entry>
            <title>
                {%- if post.data.title == '' or post.data.title == nil -%}
                    {{ post.inputPath }}
                {%- else -%}
                    {{ post.data.title }}
                {%- endif -%}
            </title>
            <link href="{{ absolutePostUrl }}" />
            <updated>{{ post.date | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <author>
                <name>
                    {%- if post.data.author != false and post.data.author != '' and post.data.author != nil -%}
                        {{ post.data.author }}
                    {%- else -%}
                        {%- if libdocConfig.blogAuthor == false or libdocConfig.blogAuthor == nil -%}
                            11ty LibDoc
                        {%- else -%}
                            {{ libdocConfig.blogAuthor }}
                        {%- endif -%}
                    {%- endif -%}
                </name>
            </author>
            <content type="html">
                {% if post.data.ogImageUrl != false and post.data.ogImageUrl != '' and post.data.ogImageUrl != nil %}
                    &lt;img src=&quot;{{ post.data.ogImageUrl }}&quot; alt=&quot;{{ post.data.title }}&quot;&gt;
                {% endif %}
                {{- post.content | strip_html -}}
            </content>
        </entry>
    {%- endfor %}
</feed>